#editor {
    position: absolute;
    font-size: 24px;
    height: 100%;
    width: 60%;
    top: 0;
    left: 0;
}

#output {
    position: absolute;
    font-size: 24px;
    height: 100%;
    width: 40%;
    top: 0;
    right: 0;
}